<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- <link
      rel="shortcut icon"
      type="image/png"
      href="<%= BASE_URL %>favicon.ico"
    /> -->
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <!-- <link rel="shortcut icon"
    type="image/png" href="/favicon.ico"> -->
    <link rel="icon" href="/favicon.gif" />
    <!--  <title><%= htmlWebpackPlugin.options.title %></title> -->
    <title>Figments</title>
    <script
      async
      src="https://bart.artgp.xyz/script.js"
      data-website-id="07fc52f5-d6c5-4a6d-ab63-ca2d719abe0b"
    ></script>
  </head>
  <body>
    <noscript>
      <div
        style="
          width: 80vw;
          margin: 10%;
          padding: 10%;
          box-sizing: border-box;
          border: 1px solid black;
          box-shadow: 10px 10px rgba(255, 196, 29, 0.8);
        "
      >
        <h2>figments</h2>
        <p>
          <span style="background-color: transparent; color: #000000"
            ><i>figments</i> is an online gathering of exchanges with pictures.
            Artists and writers partake in interactions with family photographs
            and enigmatic heirlooms, recollections of artworks and images from
            memory, and meetings with other-than-human elements in a series of
            spoken word pieces and sound journeys.</span
          >
        </p>
        <p>
          <span style="background-color: transparent; color: #000000"
            >&nbsp;</span
          >
        </p>
        <p>
          <span style="background-color: transparent; color: #000000"
            >The series arose during the extended periods of isolation brought
            on by the pandemic. Many people were spending time with material and
            immaterial things from their past. I had frequent conversations
            about returning to old photographs, finding solace in household
            objects, and re-entering memories of people and places elsewhere.
            The encounters seem to be a way to escape from and at times make
            sense of unresolved histories and current uncertainties. Stirred by
            the possibilities present in pictures, <i>figments</i> was conceived
            as an online space to intimately listen and respond to their
            hauntings.&nbsp;</span
          >
        </p>
        <p>
          <span style="background-color: transparent; color: #000000"
            >&nbsp;</span
          >
        </p>
        <p>
          <span style="background-color: transparent; color: #000000"
            >Each work attempts to make contact with a visual entity of personal
            significance. To listen to it, speak with it, project fears and
            desires onto it, narrate it. This process of mediation conjures up
            strings of thoughts, memories, and associations with other images,
            sensations, people, and places. The resulting stories are both real
            and imaginary, unfolding within and beyond the ‘picture
            frame.’&nbsp;</span
          >
        </p>
        <p>
          <span style="background-color: transparent; color: #000000"
            >&nbsp;</span
          >
        </p>
        <p>
          <span style="background-color: transparent; color: #000000"
            >The series reflects on the affective potential of certain images
            and objects to strike, possess, and linger with their beholder. They
            may embody echoes of the past or possible futures, convey emotions
            and meanings that exceed their material presence, or stand-in for
            the forgotten, the unknowable, or the unspeakable.&nbsp;</span
          >
        </p>
        <p>
          <span style="background-color: transparent; color: #000000"
            ><i>&nbsp;</i></span
          >
        </p>
        <p>
          <span style="background-color: transparent; color: #000000"
            ><i>figments </i>opens listeners to subjective, bodily, and erratic
            reactions that often fall beyond rational interpretation. It offers
            differing ways of conversing with visual entities, capturing their
            capacity to be both static and animate, tangible and illusory.</span
          >
        </p>
        <p>
          <span style="background-color: transparent; color: #000000"
            >&nbsp;</span
          >
        </p>
        <p>
          <span style="background-color: transparent; color: #000000"
            >Presented works have been crafted specially for this project. They
            stem from an initial invitation to contributors to have a
            conversation with a picture that somehow speaks to them. Taken both
            literally and as forms of ekphrasis, the assembled discussions,
            poems, short fiction, and soundscapes activate the figmented powers
            and possibilities of images.</span
          >
        </p>
        <p>&nbsp;</p>
        <p>
          <span
            ><i
              ><strong
                >figments is conceived by Alice-Anne Psaltis with design by
                Arturo Guzmán Pérez</strong
              ></i
            ></span
          >
        </p>
        <p>
          <span
            ><i
              ><strong
                >contributions by Amaal Said | Gina DeCagna | Hannah Wroe |
                Isabella Baker | Malachy Harvey | Monika Tobel | Teal
                Griffin</strong
              ></i
            ></span
          >
        </p>
        <strong
          >We're sorry but figments doesn't work properly without JavaScript
          enabled... 😪 please enable it and refresh the tab to experience the
          artworks ☺️ For a better, smoother, overall nicer experience use
          Firefox 😊🦊
        </strong>
      </div>
    </noscript>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
