<template>
  <div class="home_about">
    <transition mode="out-in" enter-active-class="animate__animated animate__fadeIn animate__faster"
      leave-active-class="animate__animated animate__fadeOut animate__faster">
      <div id="main" v-if="loaded">
        <button @click="back" tabindex="0">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler-chevrons-left" id="svg" width="30" height="30"
            viewBox="0 0 20 20" stroke-width="2" stroke="rgba(250,169,22,0.5)" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <polyline points="11 7 6 12 11 17" />
            <polyline points="17 7 12 12 17 17" />
          </svg>
        </button>
        <div id="container">
          <div tabindex="0" :style="{ background: gradient1 }" class="
              parallax-layer
              logo logo-container
              parallax__layer--back
              color1
              snap
            ">
            <img src="../assets/logos/title.png" alt="" id="titleLogo" />
          </div>
          <div tabindex="0" class="
              parallax-layer
              walltext-container
              parallax__layer--base
              larger-height
            ">
            <div class="walltext" v-html="texts[0].text"></div>
          </div>
          <div :style="{ background: gradient2 }" class="
              parallax-layer
              participants
              parallax__layer--back
              color2
              snap
            ">
            <h2 tabindex="0">contributors</h2>
          </div>
          <div v-for="work in works" :key="work.title" class="parallax-layer texts parallax__layer--base snap"
            tabindex="0">
            <p class="bio" v-html="work.bio"></p>
            <!-- <a class="bio" :href="work.website">{{
              work.name.toLowerCase()
            }}</a>
            <p class="bio" v-html="work.bio"></p> -->
          </div>
          <div :style="{ background: gradient1 }" class="
              parallax-layer
              participants
              parallax__layer--back
              color2
              snap
            ">
            <h2 style="text-align: center" tabindex="0">related readings</h2>
          </div>
          <div class="
              parallax-layer
              walltext-container
              parallax__layer--base
              larger-height
              snap
            " tabindex="0">
            <div class="readings-text" v-html="texts[1].text"></div>
          </div>
          <div :style="{ background: gradient2 }" class="
              parallax-layer
              participants
              parallax__layer--back
              color2
              snap
            " tabindex="0">
            <h2 tabindex="0">contact</h2>
          </div>
          <div class="parallax-layer walltext-container parallax__layer--base snap" tabindex="0">
            <div class="contact">
              <div v-html="texts[2].text"></div>
              <div class="end-info end-text" v-html="texts[3].text"></div>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="elseBox">
        <p id="webTitle" style="color: rgba(255, 196, 29, 0.8)">
          figments loading...
        </p>
      </div>
    </transition>
  </div>
</template>

<script>
import { globalVars } from "../vars";
import _ from "lodash";
export default {
  name: "About",
  data() {
    return {
      url: globalVars.api_url,
      webtitle: `talking pictures`,
      works: [],
      texts: [],
      loaded: false,
      /*       mycolor: "", */
      colours: [
        "rgba(98,23,8,0.5)",
        "rgba(148,27,12,0.5)",
        "rgba(187,77,0,0.5)",
        "rgba(232,144,5,0.5)",
        "rgba(250,169,22,0.5)",
        "rgba(255,208,0,0.6)",
        "rgba(255,196,29,0.6)",
      ],
      gradient1: "",
      gradient2: "",
    };
  },
  created() {
    this.fetchData().catch((err) => console.log(err.message));
    this.fetchTexts().catch((err) => console.log(err.message));
  },
  mounted() {
    /*     this.randColor(); */
    this.gradients();
  },
  methods: {
    async fetchData() {
      const res = await fetch(`${this.url}/items/figments_works`, {
        method: 'GET',
        mode: 'cors',
        headers: {
          "Content-Type": "application/json"
        }
      });
      const data = await res.json();
      this.works = data.data;
    },
    async fetchTexts() {
      const res = await fetch(
        `${this.url}/items/figments_texts?sort[]=sort_number`, {
        method: 'GET',
        mode: 'cors',
        headers: {
          "Content-Type": "application/json"
        }
      }
      );
      const texts = await res.json();
      this.texts = texts.data;
      this.loaded = true;
    },
    back() {
      this.$router.go(-1);
    },
    gradients() {
      let colours = this.colours;
      let gradient1 = _.sample(colours);
      let gradient2 = _.sample(colours);
      this.gradient1 = "linear-gradient(" + gradient1 + "," + gradient2 + ")";
      this.gradient2 = "linear-gradient(" + gradient2 + "," + gradient1 + ")";
      this.mycolor = gradient1;
    },
  },
};
</script>

<style scoped>
html,
body,
#app,
#home_about {
  overflow: hidden;
}

#main {
  height: 100vh;
  font-family: "Neuzeit";
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

button {
  top: 1rem;
  left: 0.5rem;
  position: fixed;
  overflow: hidden;
  z-index: 100;
}

#container {
  scroll-snap-type: y proximity;
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.color1 {
  background: linear-gradient(rgba(232, 144, 5, 0.5), rgba(255, 196, 29, 0.6));
}

.color2 {
  background: linear-gradient(rgba(255, 196, 29, 0.6), rgba(232, 144, 5, 0.5));
}

.parallax-layer {
  perspective: 1px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: auto;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  margin: 0;
  background-color: white;
  width: 100vw;
}

.larger-height {
  height: auto;
  background-color: white;
}

.logo {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titleLogo {
  width: 80%;
}

.walltext-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  margin: 0;
  background-color: white;
  width: 100vw;
}

.participants {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.snap {
  scroll-snap-align: start;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.walltext,
.readings-text {
  padding: 2rem 0;
  background-color: white;
  font-size: 1rem;
}

.contact {
  padding: 2rem 0;
  font-size: 1.4rem;
  background-color: white;
}

h1 {
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-align: end;
  font-family: "Rubik";
}

.subtitle {
  border-bottom: 2px solid;
  width: 100%;
}

.titleLink {
  color: black;
}

a {
  text-decoration: none;
  cursor: cell;
}

a:focus-visible {
  background: rgb(19, 91, 150);
}

.bio a {
  color: black;
  font-weight: bold;
  cursor: cell;
}

.contact a {
  color: black;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
}

h3,
p {
  margin: 0.6rem 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
}

button:focus {
  outline: 0;
}

div:focus {
  outline: 0;
}

button:focus-visible {
  border-bottom: 4px solid rgba(148, 27, 12, 0.6);
}

.text-center {
  text-align: center;
}

.end-info {
  position: fixed;
  bottom: 0;
  padding-right: 20%;
}

.end-text {
  opacity: 0.25;
  font-size: 0.6rem;
  color: rgb(190, 190, 190);
  font-weight: initial;
  padding-bottom: 10px;
}

.elseBox {
  font-family: "Rubik";
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-size: 2rem;
}

#webTitle {
  align-self: center;
  justify-self: center;
  text-align: center;
}

@media screen and (min-width: 760px) {
  #container {
    height: 100vh;
  }

  .parallax-layer {
    min-height: 100vh;
  }

  #titleLogo {
    width: 50%;
  }

  .texts {
    padding: 0 25%;
  }

  .walltext-container {
    padding: 5% 15%;
  }

  .walltext {
    padding: initial;
    /*   font-size: 1.1rem; */
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  .texts p {
    font-size: 1.2rem;
  }

  .participants h2 {
    font-size: 4rem;
  }

  .contact {
    padding: initial;
    font-size: initial;
    font-size: 2rem;
  }

  .walltext,
  .readings-text {
    padding: 0 15%;
    padding: initial;
    font-size: initial;
    font-size: 1.2rem;
  }

  .end-text {
    font-size: 0.8rem;
    color: rgb(190, 190, 190);
  }

  .end-info {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
  }
}
</style>



