<template>
  <div class="home">
    <transition
      mode="out-in"
      enter-active-class="animate__animated animate__fadeIn animate__faster"
      leave-active-class="animate__animated animate__fadeOut animate__faster"
    >
      <div id="main" v-if="loaded">
        <div id="container">
          <TitleBox :randomisedColour="randomisedColour" :mobile="mobile" />
          <div
            v-for="work in shuffledWorks"
            :key="work.id"
            class="boxesContainer"
          >
            <router-link
              :potato="'yes, a potato'"
              :id="work.id"
              :to="{
                name: 'Works',
                params: { title: work.title, name: work.name, id: work.id },
              }"
            >
              <transition
                mode="out-in"
                enter-active-class="animate__animated animate__fadeIn animate__faster"
                leave-active-class="animate__animated animate__fadeOut animate__faster"
              >
                <div
                  class="box"
                  :style="{ boxShadow: boxShadowSet }"
                  @mouseenter="dTitle(work.title, work.name), randomColour()"
                  @touchstart="dTitle(work.title, work.name), randomColour()"
                  @mouseleave="hideText()"
                  @touchend="hideText()"
                  tabindex="0"
                >
                  <img
                    v-if="mobile && work.id !== 2"
                    :src="cdnUrl + work.artwork_id"
                    alt=""
                    class="imageMini"
                    @load="imageCount(i++)"
                  />
                  <img
                    v-if="mobile && work.id === 2"
                    :src="cdnUrl + work.artwork_id"
                    alt=""
                    class="imageMini"
                    @load="imageCount(i++)"
                  />
                  <img
                    v-if="!mobile"
                    :src="cdnUrl + work.artwork_id"
                    alt=""
                    class="imageMini"
                    @load="imageCount(i++)"
                  />
                </div>
              </transition>
            </router-link>
          </div>
        </div>
      </div>
      <div v-else class="elseBox">
        <p
          v-if="!errorMessage"
          id="webTitle"
          :style="{ color: randomisedColour }"
        >
          figments loading...
        </p>
        <p
          v-if="errorMessage"
          id="webTitle"
          :style="{ color: randomisedColour }"
        >
          figments is currently down :( please try again later!
        </p>
      </div>
    </transition>
  </div>
</template>

<script>
import { globalVars } from "../vars";
import _ from "lodash";
import TitleBox from "../components/TitleBox.vue";
import loadData from "../store/store";
export default {
  name: "Home",
  components: { TitleBox },
  data() {
    return {
      url: globalVars.api_url,
      cdnUrl: globalVars.cdn_url,
      works: null,
      shuffledWorks: null,
      mycolor: "#" + ((Math.random() * 0xffffff) << 0).toString(16),
      imageOrientation: "",
      loaded: false,
      colours: [
        "rgba(98,23,8,0.6)",
        "rgba(148,27,12,0.6)",
        "rgba(187,77,0,0.6)",
        "rgba(232,144,5,0.6)",
        "rgba(250,169,22,0.8)",
        "rgba(255,208,0,0.8)",
        "rgba(255,196,29,0.8)",
      ],
      colours2: [
        "rgb(98,23,8)",
        "rgb(148,27,12)",
        "rgb(187,77,0)",
        "rgb(232,144,5)",
        "rgb(250,169,22)",
        "rgb(255,208,0)",
        "rgb(255,196,29)",
      ],
      randomisedColour: "rgba(255,196,29,0.8)",
      about: "",
      locationColumn: "",
      locationRow: "",
      imageBorder: "",
      positionX: "",
      positionY: "",
      boxShadowSet: "",
      randomOrder: "",
      windowWidth: window.innerWidth,
      windowHeight: window.innerHeight,
      mobile: Boolean,
      errorMessage: false,
    };
  },
  created() {
    this.fetchData();
    this.deviceIs();
  },
  mounted() {
    window.addEventListener("mousemove", this.shadows);
    window.addEventListener("resize", this.deviceIs);
  },
  unmounted() {
    window.removeEventListener("resize", this.deviceIs);
    window.removeEventListener("mousemove", this.shadows);
  },
  methods: {
    async fetchData() {
      const { worksData, loaded, error, load } = loadData();
      await load("home");
      if (error.status) {
        this.errorFunction(error.message);
        return;
      }
      this.shuffledWorks = worksData;
      this.loaded = loaded;
    },
    async errorFunction(err) {
      console.log(err.message);
      this.errorMessage = true;
    },
    imageCount(i) {
      let imgCount = i;
      if ((imgCount = 7)) {
        document.getElementById("container").style.opacity = 1;
      }
    },
    shadows(event) {
      const cursor = {
        x: 0,
        y: 0,
      };
      if (window.innerWidth >= 760) {
        cursor.x = -((event.clientX / this.windowWidth - 0.5) * 20);
        cursor.y = -((event.clientY / this.windowHeight - 0.5) * 20);
        this.positionX = cursor.x;
        this.positionY = cursor.y;
        this.boxShadowSet =
          this.positionX +
          "px " +
          this.positionY +
          "px " +
          this.randomisedColour;
      } else {
        this.boxShadowSet = "6px " + "6px " + this.randomisedColour;
      }
    },
    deviceIs() {
      if (window.innerWidth <= 759) {
        this.mobile = true;
      } else if (window.innerWidth >= 760) {
        this.mobile = false;
      } else {
        console.log("wat");
      }
    },
    dTitle(id, idName) {
      const dTitle = id;
      const dName = idName;
      const worktitle = document.getElementsByClassName("changeMe");
      if (window.innerWidth <= 759) {
        worktitle[1].innerHTML = dTitle + " - " + dName;
        worktitle[2].innerHTML = dTitle + " - " + dName;
        worktitle[3].innerHTML = dTitle + " - " + dName;
        worktitle[1].style.fontSize = "1.2rem";
        worktitle[2].style.fontSize = "1rem";
        worktitle[3].style.fontSize = "1.2rem";
      } else if (window.innerWidth >= 760) {
        worktitle[0].innerHTML = dTitle + " - " + dName;
        worktitle[0].style.fontSize = "1.2rem";
      }
    },
    hideText() {
      const titleBox = document.getElementsByClassName("changeMe");
      if (window.innerWidth <= 759) {
        titleBox[1].innerHTML = "figments";
        titleBox[2].innerHTML = "figments";
        titleBox[3].innerHTML = "figments";
        titleBox[1].style.fontSize = "2rem";
        titleBox[2].style.fontSize = "1.2rem";
        titleBox[3].style.fontSize = "2rem";
      } else if (window.innerWidth >= 760) {
        titleBox[0].innerHTML = "figments";
        document.getElementsByClassName("changeMe")[0].style.fontSize = "2rem";
      }
    },
    randomColour() {
      if (window.innerWidth >= 760) {
        let colours = this.colours;
        let rColours = _.sample(colours);
        this.randomisedColour = rColours;
      } else {
        let colours = this.colours2;
        let rColours = _.sample(colours);
        this.randomisedColour = rColours;
      }
    },
  },
};
</script>

<style scoped>
.home {
  height: 100vh;
  width: 100vw;
  height: -webkit-fill-available;
}

#main {
  height: max-content;
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  overflow-x: hidden;
}

#svg {
  stroke: #621708;
}

#container {
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, auto);
  grid-column: 1;
  grid-row: 1;
  max-width: 100vw;
  align-items: baseline;
  justify-content: center;
  padding: 6px;
  overflow-x: hidden;
  text-transform: lowercase;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.boxesContainer {
  width: 45vw;
}

.box {
  width: 45vw;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px rgba(255, 174, 0, 0.5);
}

.imageMini {
  width: 100%;
  height: auto;
  transition: transform 0.2s;
  object-fit: scale-down;
  object-position: center;
}

.elseBox {
  font-family: "Rubik";
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-size: 2rem;
}

#webTitle {
  align-self: center;
  justify-self: center;
  text-align: center;
}

div:focus {
  outline: 0;
}
div:focus-visible {
  border-bottom: 4px solid rgba(148, 27, 12, 0.6);
}

/* different displays */

/* iphone 5 - 8 landscape */
@media screen and (min-height: 225px) and (max-height: 375px) {
  html,
  body,
  .home {
    overflow-x: hidden;
  }

  #container {
    gap: 2rem;
  }
}

/* desktop */

@media screen and (min-width: 760px) {
  #main {
    height: 100%;
    grid-template-rows: 100%;
    box-sizing: border-box;
    padding: 0;
    background: initial;
  }

  /*   #webTitle {
    height: 100%;
    margin: 0;
    padding: 1rem;
  } */

  #container {
    display: grid;
    grid-template-columns: minmax(0, 33%) minmax(0, 33%) minmax(0, 33%);
    grid-template-rows: minmax(0, 33%) minmax(0, 33%) minmax(0, 33%);
    gap: 0.6rem;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
  }

  .boxesContainer {
    height: 100%;
    max-height: 29vh;
    width: 100%;
    max-width: 29vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }

  .box {
    background-color: white;
    height: 100%;
    max-height: 29vh;
    width: 100%;
    max-width: 29vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }

  .box:hover {
    cursor: cell;
  }

  .imageMini {
    padding: initial;
    height: 100%;
    width: 100%;
    transition: transform 0.2s;
    object-fit: cover;
    object-position: center;
  }

  .box:hover .imageMini,
  .box:active .imageMini {
    transform: scale(1.05);
  }
}
</style>
