<template>
  <div class="home_works">
    <transition
      mode="out-in"
      enter-active-class="animate__animated animate__fadeIn animate__faster"
      leave-active-class="animate__animated animate__fadeOut animate__faster"
    >
      <div id="main" v-if="loaded && !errorMessage">
        <button class="back-button" @click="back">
          <svg
            :style="{ stroke: strokeColour }"
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-chevrons-left"
            width="30"
            height="30"
            viewBox="0 0 20 20"
            stroke-width="2"
            stroke="#000000"
            id="svg"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <polyline points="11 7 6 12 11 17" />
            <polyline points="17 7 12 12 17 17" />
          </svg>
        </button>
        <div id="container">
          <MusicPlayer class="music-player" :audio="cdnUrl + work.audio_id" />
          <div
            class="images"
            :class="{
              black: work.orientation === 'horizontal',
              white: work.orientation === 'vertical',
            }"
          >
            <picture>
              <source
                media="(max-width: 320px)"
                :srcset="cdnUrl + work.artwork_id"
              />
              <source
                media="(max-width: 480px)"
                :srcset="cdnUrl + work.artwork_id"
              />
              <source
                media="(max-width: 760px)"
                :srcset="cdnUrl + work.artwork_id"
              />
              <source
                media="(min-width: 761px)"
                :srcset="cdnUrl + work.artwork_id"
              />
              <img
                class="imgStyle"
                :src="cdnUrl + work.artwork_id"
                :alt="work.altText"
                id="workImage"
                @load="imageCount(i++)"
              />
            </picture>
          </div>
          <div class="texts">
            <transition
              mode="out-in"
              enter-active-class="animate__animated animate__fadeIn"
              leave-active-class="animate__animated animate__fadeOut"
            >
              <div
                v-if="work.image_description === true"
                :class="{ iDescription: work.image_description === true }"
              >
                <div class="title">
                  <h3 class="t-title">
                    {{ work.title }}
                  </h3>
                  <h3 class="t-name">
                    {{ work.name }}
                  </h3>
                  <p class="label" v-html="work.label"></p>
                </div>
                <div class="nozoom" :class="{ zoomImage: zoom }">
                  <img
                    :src="work.description"
                    alt=""
                    class="imageDescription"
                    @click="zoom = !zoom"
                    :class="{ clean: zoom }"
                  />
                </div>
              </div>
              <div v-else>
                <div class="texts-container">
                  <div
                    class="title"
                    :class="{
                      'quarter-opacity': showTranscription,
                      'smallest-font ': showTranscription,
                    }"
                    @click="removeDescription"
                  >
                    <h3
                      class="t-title"
                      :class="{
                        'smallest-font ': showTranscription,
                      }"
                    >
                      {{ work.title }}
                    </h3>
                    <h3
                      class="t-name"
                      :class="{
                        'smallest-font ': showTranscription,
                      }"
                    >
                      {{ work.name }}
                    </h3>
                    <p
                      class="label"
                      v-html="work.label"
                      :class="{ noheight: showTranscription }"
                    ></p>
                    <p
                      v-if="work.hasCredit === true"
                      class="credits"
                      v-html="work.credits"
                      :class="{ noheight: showTranscription }"
                    ></p>
                  </div>
                  <div
                    class="t-toggle-button"
                    id="toggle-button"
                    @click="showTranscription = !showTranscription"
                    @keypress="showTranscription = !showTranscription"
                    tabindex="0"
                  >
                    <p class="smaller-font">transcription</p>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="
                        icon icon-tabler icon-tabler-chevrons-left
                        t-toggle-icon
                      "
                      width="20"
                      height="20"
                      viewBox="0 0 30 30"
                      stroke-width="2"
                      stroke="#000000"
                      :class="
                        showTranscription ? 't-b-icon-rotated' : 't-b-icon'
                      "
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <polyline points="11 7 6 12 11 17" />
                      <polyline points="17 7 12 12 17 17" />
                    </svg>
                  </div>
                  <div
                    class="t-container"
                    :class="{
                      expanded: showTranscription,
                    }"
                  >
                    <div id="o-gradient"></div>
                    <div class="t-c-container">
                      <p id="transcription" v-html="work.description"></p>
                    </div>
                    <div id="c-gradient"></div>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
      <div v-else-if="!loaded && !errorMessage" class="elseBox">
        <p id="webTitle" :style="{ color: randomisedColour }">
          figments loading...
        </p>
      </div>
      <div v-else-if="errorMessage" class="elseBox">
        <p
          v-if="errorMessage"
          id="webTitle"
          :style="{ color: randomisedColour }"
        >
          figments is currently down :( please try again later!
        </p>
      </div>
    </transition>
  </div>
</template>

<script>
import loadData from "../store/store";
import { globalVars } from "../vars";
import _ from "lodash";
import MusicPlayer from "../components/MusicPlayer.vue";
export default {
  name: "Works",
  components: { MusicPlayer },
  props: {
    title: String,
    name: String,
    id: String,
  },
  data() {
    return {
      url: globalVars.api_url,
      cdnUrl: globalVars.cdn_url,
      work: null,
      zoom: false,
      showTranscription: false,
      colours: [
        "rgba(98,23,8,0.5)",
        "rgba(148,27,12,0.5)",
        "rgba(187,77,0,0.5)",
        "rgba(232,144,5,0.5)",
        "rgba(250,169,22,0.5)",
        "rgba(255,208,0,0.6)",
        "rgba(255,196,29,0.6)",
      ],
      strokeColour: "rgba(250,169,22,0.5)",
      randomisedColour: "",
      loaded: false,
      windowWidth: "",
      errorMessage: false,
    };
  },
  created() {
    this.fetchData().catch((err) => console.log(err.message));
    this.setWindowWidth();
  },
  async mounted() {
    this.randColor();
    function backgroundColor() {
      let imgContainer = document.getElementsByClassName("images")[0];
      if (window.innerWidth >= 760) {
        imgContainer.style.backgroundColor = "black";
      } else {
        console.log("not for you, darling");
      }
    }
    setTimeout(() => (this.loaded = true), 1000);
  },
  methods: {
    async fetchData() {
      const { activeWorkData, error, load } = loadData();
      await load("works", this.name);
      if (error.status) {
        this.errorFunction(error.message);
        return;
      }
      if (activeWorkData.value.image_description) {
        const result = this.imageDescription(activeWorkData.value.description);
        activeWorkData.value.description = result;
      }
      this.work = activeWorkData;
    },
    imageDescription(data) {
      const regex = /<p>/i;
      const regex2 = /<\/\p>/i;
      const first = data.replace(regex, "");
      const second = first.replace(regex2, "");
      return second;
    },
    async errorFunction(err) {
      console.log(err.message);
      this.errorMessage = true;
    },
    imageCount(i) {
      let imgCount = i;
      if ((imgCount = 1)) {
        document.getElementById("workImage").style.opacity = 1;
      }
    },
    setWindowWidth() {
      this.windowWidth = window.innerWidth;
    },
    removeDescription() {
      this.showTranscription = false;
    },
    back() {
      this.$router.go(-1);
    },
    randColor() {
      let colours = this.colours;
      let rColours = _.sample(colours);
      this.randomisedColour = rColours;
    },
    toggleTranscription() {
      this.showTranscription = !this.showTranscription;
    },
  },
};
</script>

<style scoped>
html,
body,
#app,
#home {
  overflow: hidden;
}

.home_works {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main {
  display: grid;
  grid-template-columns: 95vw;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.back-button {
  top: 1rem;
  left: 0.5rem;
  position: fixed;
  overflow: hidden;
}

.music-player {
  top: 1rem;
  right: 1rem;
  position: fixed;
}

#container {
  scroll-snap-type: y mandatory;
  grid-row: 2;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100% 100%;
  justify-items: center;
  align-items: center;
  width: 100vw;
  overflow: scroll;
  height: 95vh;
  /* height: calc(100vh - env(safe-area-inset-bottom)); */
}

.images {
  scroll-snap-align: start;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

#workImage {
  opacity: 0;
  transition: 0.2s all ease-in-out;
}

.imgStyle {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.texts {
  scroll-snap-align: start;
  grid-row: 2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  padding: 0 2.5rem;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  transition: 0.6s all ease-in-out;
  flex-shrink: 2;
}

.iDescription {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.nozoom {
  overflow: scroll;
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  transition: all 0.2s ease-in-out;
}

.imageDescription {
  align-self: center;
  justify-self: center;
  height: auto;
  width: 100%;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.clean {
  max-height: initial;
  width: 100vw;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.zoomImage {
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: none;
  white-space: nowrap;
  z-index: 3;
  transition: all 0.2s ease-in-out;
}

.texts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 90vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 1;
  width: 100%;
}

.label {
  font-family: "Neuzeit";
  padding: 0.5rem 0;
  font-size: 0.8rem;
  height: 100%;
  overflow: initial;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.credits {
  font-family: "Neuzeit";
  font-size: 0.7rem;
  height: 100%;
  overflow: initial;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.noheight {
  height: 0%;
  overflow: hidden;
  filter: opacity(0);
  padding: 0;
  font-size: 0.0001rem;
}

.quarter-opacity {
  opacity: 0.25;
}

#toggle-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: "Neuzeit";
  transition: all 0.6s ease-in-out;
  padding: 0.5rem 0;
}

.t-container {
  width: 100%;
  height: 0vh;
  overflow: scroll;
  transition: all 0.6s ease-in-out;
  opacity: 0;
}

.expanded {
  overflow: scroll;
  height: 100vh;
  opacity: 1;
}

.t-title {
  font-family: "Rubik";
  text-transform: lowercase;
  font-size: 1.4rem;
  transition: all 0.6s ease-in-out;
}

.t-name {
  font-family: "Rubik";
  text-transform: lowercase;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.6s ease-in-out;
}

.music-player {
  width: 100%;
}

.smaller-font {
  font-size: 0.8rem;
}

.smallest-font {
  font-size: 0.8rem;
}

#o-gradient {
  height: 6vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(255, 255, 255) 100%
  );
  top: 0;
  position: sticky;
}

#transcription {
  font-family: "Neuzeit";
  padding-bottom: 1rem;
  line-height: 1.5rem;
  width: 100%;
}

#c-gradient {
  height: 6vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  bottom: 0;
  position: sticky;
}

.t-b-icon {
  transform: rotate(0);
  transition: 0.2s all ease-in-out;
}
.t-b-icon-rotated {
  transform: rotate(-90deg);
  transition: 0.2s all ease-in-out;
}

.elseBox {
  font-family: "Rubik";
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-size: 2rem;
}

#webTitle {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.initial-font {
  font-size: initial;
}

button:focus {
  outline: 0;
}
div:focus {
  outline: 0;
}
button:focus-visible {
  border-bottom: 4px solid rgba(148, 27, 12, 0.6);
}
div:focus-visible {
  border-bottom: 4px solid rgba(148, 27, 12, 0.6);
}

@media screen and (min-width: 760px) {
  #container {
    height: 100vh;
  }
  .images {
    padding: 0;
    background: white;
    max-height: 100vh;
    max-width: 100vw;
  }

  #workImage {
    max-height: 100vh;
    width: 100vw;
  }

  .black {
    background: black;
  }
  .white {
    background: white;
  }

  .texts {
    padding: 0 20%;
  }

  .title,
  .label,
  .credits,
  .expanded {
    opacity: initial;
    filter: opacity(1);
  }

  .noheight,
  .t-container {
    opacity: initial;
    /*     filter: opacity(0); */
  }

  .quarter-opacity {
    opacity: initial;
    filter: opacity(0.25);
    height: 10%;
  }

  h3 {
    font-size: 1.6rem;
  }
  .t-title {
    font-size: 2.2rem;
  }

  .t-name {
    font-size: 1.8rem;
  }
  .label {
    font-size: 1rem;
    padding-top: 1rem;
  }
  .smaller-font {
    font-size: 1rem;
  }
  .noheight {
    font-size: 0.0001rem;
  }
  .smallest-font {
    font-size: 1rem;
  }
  .initial-font {
    font-size: initial;
  }
  .t-title,
  .t-name,
  .title,
  .label,
  .t-container {
    transition: all 0.6s ease-in-out;
  }

  .t-toggle-button:hover {
    filter: opacity(0.6);
    cursor: cell;
  }

  .t-toggle-icon {
    width: 24px;
    height: 24px;
  }

  .quarter-opacity:hover {
    cursor: cell;
  }
}
</style>