<template>
  <div class="devtools">
    <button id="devitems" @click="showDev = !showDev">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-tools"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="#9e9e9e"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4" />
        <line x1="14.5" y1="5.5" x2="18.5" y2="9.5" />
        <polyline points="12 8 7 3 3 7 8 12" />
        <line x1="7" y1="8" x2="5.5" y2="9.5" />
        <polyline points="16 12 21 17 17 21 12 16" />
        <line x1="16" y1="17" x2="14.5" y2="18.5" />
      </svg>
    </button>
    <transition
      mode="out-in"
      enter-active-class="animate__animated animate__fadeIn"
      leave-active-class="animate__animated animate__fadeOutUp animate__faster"
    >
      <div class="dev" v-if="showDev">
        <div id="colourA" class="colourBlock">
          <input type="color" v-model="colourA" /> {{ element1 }} background
          colour:
          {{ colourA }}
        </div>
        <div id="colourB" class="colourBlock">
          <input type="color" v-model="colourB" /> {{ element2 }} background
          colour:
          {{ colourB }}
        </div>
        <div id="colourE" class="colourBlock">
          <input type="color" v-model="colourE" /> {{ element2 }} background
          hover colour:
          {{ colourE }}
        </div>
        <div id="colourC" class="colourBlock">
          <input type="color" v-model="colourC" /> {{ element3 }} colour:
          {{ colourC }}
        </div>
        <div id="colourD" class="colourBlock">
          <input type="color" v-model="colourD" /> {{ element2 }} border colour:
          {{ colourD }}
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    element1: String,
    element2: String,
    element3: String,
    element4: String,
    element5: String,
  },

  data() {
    return {
      colourA: "#FFFFFF",
      colourB: "#FFFFFF",
      colourC: "#FFFFFF",
      colourD: "#FFFFFF",
      colourE: "#FFFFFF",
      showDev: false,
    };
  },
  watch: {
    colourA: function (colourA) {
      this.$emit("colourA", this.colourA);
    },
    colourB: function (colourB) {
      this.$emit("colourB", this.colourB);
    },
    colourC: function (colourC) {
      this.$emit("colourC", this.colourC);
    },
    colourD: function (colourD) {
      this.$emit("colourD", this.colourD);
    },
    colourE: function (colourE) {
      this.$emit("colourE", this.colourE);
    },
  },
};
</script>

<style scoped>
#devitems {
  display: none;
}
@media screen and (min-width: 760px) {
  /* devtools */

  input {
    height: 20px;
    width: 20px;
    border: none;
  }
  #devitems {
    display: block;
    position: fixed;
    font-size: 1rem;
    top: 0;
    left: 0;
    color: rgb(190, 190, 190);
  }
  .dev {
    position: fixed;
    top: 2%;
    left: 25%;
    font-family: "Baton";
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    background: rgb(252, 252, 252);
    max-width: 50%;
    border-radius: 10px;
    border: 5px double rgb(122, 122, 122);
    z-index: 1;
  }
  .colourBlock {
    padding: 0.2rem;
    margin: 0.4rem;
  }
}
</style>>
