<template>
  <div id="audio-player">
    <div class="player-controls">
      <div id="play-button">
        <button type="button" @click="toggleAudio()">
          <svg
            v-show="!playing"
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-player-play"
            width="30"
            height="30"
            viewBox="0 0 22 22"
            stroke-width="2"
            stroke="rgba(250,169,22,0.5)"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M7 4v16l13 -8z" />
          </svg>
          <svg
            v-show="playing"
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-player-pause"
            width="30"
            height="30"
            viewBox="0 0 22 22"
            stroke-width="2"
            stroke="rgba(250,169,22,0.5)"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <rect x="6" y="5" width="4" height="14" rx="1" />
            <rect x="14" y="5" width="4" height="14" rx="1" />
          </svg>
        </button>
        <audio
          id="audio"
          :src="audio"
          autoplay
          @playing="isAutoPlaying()"
        ></audio>
      </div>
    </div>
    <div id="audio-seeker">
      <div id="progress" :style="{ width: progressPercent }"></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      playing: false,
      progressPercent: "",
    };
  },
  props: ["audio"],
  methods: {
    isAutoPlaying() {
      this.playing = true;
    },
    toggleAudio() {
      let audio = document.getElementById("audio");
      if (audio.paused) {
        audio.play();
        this.playing = true;
      } else {
        audio.pause();
        this.playing = false;
      }
    },
    updateProgress(e) {
      let { duration, currentTime } = e.srcElement;
      let progressPercent = (currentTime / duration) * 100;
      this.progressPercent = progressPercent + "%";
    },
    setProgress(e) {
      let audio = document.getElementById("audio");
      let width = document.getElementById("audio-seeker").clientWidth;
      let clickX = e.offsetX;
      let duration = audio.duration;

      audio.currentTime = (clickX / width) * duration;
    },
  },
  mounted() {
    let audio = document.getElementById("audio");
    let audioSeeker = document.getElementById("audio-seeker");

    audio.addEventListener("timeupdate", this.updateProgress);
    audioSeeker.addEventListener("click", this.setProgress);
  },
  unmounted() {
    let audio = document.getElementById("audio");
    let audioSeeker = document.getElementById("audio-seeker");
    audio.removeEventListener("timeupdate", this.updateProgress);
    audioSeeker.removeEventListener("click", this.setProgress);
  },
};
</script>

<style scoped>
#audio-player {
  width: auto;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#play-button {
  border-radius: 10px;
}

#audio-seeker {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  margin: 0;
  height: 0.8rem;
  width: 100vw;
}

#progress {
  background: rgba(250, 169, 22, 0.5);
  height: 100%;
  width: 0px;
  transition: width 0.1s linear;
}
button:focus-visible {
  border-bottom: 4px solid rgba(148, 27, 12, 0.6);
}
</style>