<template>
  <div
    v-show="!mobile"
    class="mainBox"
    style="transition: all 0.6s ease-in-out"
    :style="{
      gridArea: locationArea,
    }"
    @touchstart="mainTitleHide()"
    @mouseenter="mainTitleHide()"
    @mouseleave="mainTitleShow()"
  >
    <div class="title">
      <router-link v-if="mainTitleOn" :to="{ name: 'About' }"
        ><p
          style="width: 100%; height: 100%; grid-row: 1; grid-column: 1"
          :style="{ color: randomisedColour }"
          class="workTitle left changeMe"
          tabindex="0"
        >
          figments
        </p>
      </router-link>
      <router-link
        v-else
        :to="{ name: 'About' }"
        :style="{ color: randomisedColour }"
        style="display: flex; width: 100%"
        class="left"
      >
        <p class="changeMe" tabindex="0">about</p></router-link
      >
    </div>
  </div>
  <div
    v-show="mobile"
    class="mainBox column1 row2"
    style="transition: all 0.6s ease-in-out"
    @touchstart="mainTitleHide()"
    @mouseenter="mainTitleHide()"
    @mouseleave="mainTitleShow()"
  >
    <div class="title">
      <p
        v-if="mainTitleOn"
        style="width: 100%; height: 100%; grid-row: 1; grid-column: 1"
        :style="{ color: randomisedColour }"
        class="workTitle left changeMe"
      >
        figments
      </p>
      <router-link
        v-else
        :to="{ name: 'About' }"
        :style="{ color: randomisedColour }"
        style="display: flex; width: 100%"
        class="left"
      >
        <p class="changeMe">about</p></router-link
      >
    </div>
  </div>
  <div
    v-show="mobile"
    class="mainBox column1 row4"
    style="transition: all 0.6s ease-in-out"
    @touchstart="mainTitleHide()"
    @mouseenter="mainTitleHide()"
    @mouseleave="mainTitleShow()"
  >
    <div class="title">
      <p
        v-if="mainTitleOn"
        style="
          width: 100%;
          height: 100%;
          grid-row: 1;
          grid-column: 1;
          text-align: right;
        "
        :style="{ color: randomisedColour }"
        class="workTitle right changeMe"
      >
        figments
      </p>
      <router-link
        v-else
        :to="{ name: 'About' }"
        :style="{ color: randomisedColour }"
        style="
          display: flex;
          width: 100%;
          justify-content: flex-end;
          opacity: 0.5;
        "
      >
        <p class="changeMe right" style="opacity: 0.5">about</p></router-link
      >
    </div>
  </div>
  <div
    v-show="mobile"
    class="mainBox column1 row6"
    style="transition: all 0.6s ease-in-out"
    @touchstart="mainTitleHide()"
    @mouseenter="mainTitleHide()"
    @mouseleave="mainTitleShow()"
  >
    <div class="title">
      <p
        v-if="mainTitleOn"
        style="width: 100%; height: 100%; grid-row: 1; grid-column: 1"
        :style="{ color: randomisedColour }"
        class="workTitle left changeMe"
      >
        figments
      </p>
      <router-link
        v-else
        :to="{ name: 'About' }"
        :style="{ color: randomisedColour }"
        style="display: flex; width: 100%; justify-content: center"
      >
        <p class="changeMe left">about</p></router-link
      >
    </div>
  </div>
</template>

<script>
import _ from "lodash";
export default {
  name: "TitleBox",
  props: {
    randomisedColour: String,
    mobile: Boolean,
  },
  data() {
    return {
      mainTitleOn: true,
      windowWidth: window.innerWidth,
      windowHeight: window.innerHeight,
      locationArea: "",
      locationRow: "",
    };
  },
  mounted() {
    this.randomLocation();
  },
  methods: {
    randomLocation() {
      let a = [
        "1 / 1 / 1 / 3",
        "1 / 2 / 1 / 4",
        "2 / 1 / 2 / 3",
        "2 / 2 / 2 / 4",
        "3 / 1 / 3 / 3",
        "3 / 2 / 3 / 4",
      ];
      let randomA = _.sample(a);
      this.locationArea = randomA;
    },
    mainTitleShow() {
      this.mainTitleOn = true;
    },
    mainTitleHide() {
      this.mainTitleOn = false;
    },
  },
};
</script>

<style scoped>
.mainBox {
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
  padding-right: 1rem;
  font-size: 0.9rem;
  opacity: 0.5;
}

.column1 {
  grid-column: 1/3;
}

.row2 {
  grid-row: 2;
}

.row4 {
  grid-row: 4;
}

.row6 {
  grid-row: 6;
}

.workTitle {
  height: 0;
  display: flex;
  align-items: center;
}

.title {
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rubik";
  font-size: 2rem;
  height: 100%;
  width: 100%;
}

.icon-tabler-chevrons-right {
  grid-column: 2;
  justify-self: flex-end;
  width: 20px;
  height: 20px;
  transform: rotate(180deg);
}
p:focus {
  outline: 0;
}

p:focus-visible {
  border-bottom: 4px solid rgba(148, 27, 12, 0.6);
}

/* iphone 5 - 8 landscape */
@media screen and (min-height: 225px) and (max-height: 375px) {
  .column1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50vw;
  }

  .row4 {
    display: none;
  }

  .row6 {
    display: none;
  }
}

@media screen and (min-width: 760px) {
  .mainBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-height: 29vh;
    width: 50vh;
    background: initial;
    position: initial;
  }

  .column1 {
    grid-column: initial;
  }

  .row2 {
    grid-row: initial;
  }

  .row4 {
    display: none;
  }

  .row6 {
    display: none;
  }

  .left {
    justify-content: center;
  }
}
</style>