@font-face {
  font-family: 'Neuzeit';
  src: local('Neuzeit'), url('./fonts/neuzeit/Neuzeit_Grotesk_Regular.ttf');
}
@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('./fonts/rubik/Rubik_VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/*  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
        body {
            min-height: 100vh;
            /* mobile viewport bug fix */ /* 
            min-height: -webkit-fill-available;
          }
          
        html {
            height: -webkit-fill-available;
          }
    }
  }
 */

button {
  width: 35px;
  height: 35px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}
